@font-face {
    font-family: '00433';
    src: url(/00433/00433\ Regular/00433\ Regular.ttf);
}

body {
    align-items: center;
    background-color: #FD5F22;
    display: flex;
    flex-direction: column;
    font-family: '00433';
    margin: 0;
}

#header {
    background-color: #5BBDE8;
    border: 9px solid #2157C3;
    border-radius: 12px;
    margin: 20px auto;
    text-align: center;
    width: 450px;
}

h1 {
    color: #FDEB34;
    font-size: 112px;
    letter-spacing: 10px;
    margin: -15px 0;
}

h3 {
    font-size: 40px;
    letter-spacing: 3px;
    margin: -30px 0 0 0;
}

#input-els {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#cash-label {
    font-size: 32px;
}